*~
.*
*.swp
*.pyc
bin
eggs
parts
.installed.cfg
.mr.developer.cfg
*.egg-info
develop-eggs
sphinx
dist
.project
.pydevproject
build
*.so
src/
clandmark/3rd_party/CImg-1.5.6/
clandmark/matlab_interface/mex*/
xbob.extension*.egg
.gdb_history
core
